/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
    display: block; width: 100%; /*Please leave this line.*/
}

body {
    background-color: #fafafa;
    line-height: 140%;
}

div.homeimage{
    background-image: url(maincoffee.jpg);
}

div.aboutimage{
    background-image: url(about.jpg);
}

div.eventimage{
    background-image: url(events.jpg);
}

div.menuimage{
    background-image: url(menuitems.jpg);
}

div.homeimage,
div.aboutimage, div.eventimage, div.menuimage{
    min-height: 25em;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav ul li{
    display: inline;
    font-size: 1.25em; 
    text-transform: uppercase;
}

ul li {
    display: list-item;
    margin: 1rem;
}

li.selected a {
    color: rgb(150,102,67)
}

a {
    text-decoration: none;
    color: #1e1e1e; 
}



h1 { 
    font-size:4.5em; 
    width:3.75em;
    margin: 2rem 1rem;
}

h2 {
    margin:1.5rem 1rem 1rem;
    font-size: 1.25em; 
    color: rgb(150,102,67); 
    text-transform: uppercase;
    font-family: cormorant-garamond, serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    margin: 1.5rem 1rem 1rem;
    font-size: 1.15em; 
    color: #1e1e1e;
    font-family: cormorant-garamond, serif;
    font-weight: 600;
    font-style: normal;
    
    
}

h4{
    margin:1rem;
    font-size: 1em; 
    color: #1e1e1e; 
    font-family: cormorant-garamond, serif;
    font-weight: 300;
    font-style: italic;
    
}

p{
    margin: 1rem;
    font-size: 1em; 
    color: #1e1e1e;
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    
}

p a {
    border-bottom: dashed rgb(150,102,67) 1px;
}

@media only screen and (min-width: 60em){
    
    div.homeimage, div.aboutimage, div.eventimage, div.menuimage
    {
    min-height: 50em;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  
}
}
